:root, ::before, ::after {
  --dark-purple:#672280;
  --light-purple:#A527D2;
  --white:#FaFaFa;
  --black:#0a0a0a;
  font-size:16px;
  font-family: 'Inter', 'Courier New';
  color:var(--black);
  box-sizing:border-box;
}

/* whole page */
body {
  background-color:var(--white);
  padding:0;
  margin:0;
}

#root {
  padding:0;
  margin:0;
}

.app-container {
  width:100%;
}


/* navbar */
.navbar-container {
  background-image:linear-gradient(90deg, var(--dark-purple),var(--light-purple));
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items:center;
  color:var(--white);
  padding:0px;
  height:16vh;
  width:100%;

}

.navbar-title-container {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  gap:10px;
  justify-content:flex-start;
  align-items:center;
  margin-left:20px;
}

/* .navbar-troll-face {
}

.navbar-title {
} */

.navbar-sub-title {
  margin-right:20px;
}

/* main content 
.mainContent-container
.main-form-container
.main-input-above
.main-input-below
.main-button
.main-text
.button-icon
.main-meme-container
.main-meme
*/
.mainContent-container {
  /* outline:2px solid red; */
  width:100%;
  height:88vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
}

.main-form-container {
  /* outline:2px solid green; */
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:space-between;
  width:80vw;
  height:18vh;
}

.main-input-container {
  /* outline:2px solid maroon; */
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  height:40%;
}

.main-input-above {
  /* outline:2px solid yellow; */
  width:45%;
  height:95%;
  border-radius:15px;
  outline:3px solid var(--black);
}

.main-input-below {
  /* outline:2px solid orange; */
  width:45%;
  height:95%;
  border-radius:15px;
  outline:3px solid var(--black);
}

.main-button {
  /* outline:2px solid brown; */
  background-image:linear-gradient(90deg,var(--dark-purple),var(--light-purple));
  color:var(--white);
  height:40%;
  border-radius:15px;
}

.main-text {
  border:none;
}

.button-icon {
  margin-left:0.5em;
}

.main-meme-container {
  outline:2px solid blue;
  width:80vw;
  height:36vh;
}
.main-meme {
  width:80vw;
  max-height:70%;
}



@media (min-width:801px){
  .navbar-troll-face {
    /* outline:2px solid black; */
    width:100px;
  }
  .navbar-title {
    font-size:2.5em;
  }
  .navbar-sub-title {
    font-size:1.4em;
  }
  .main-text {
    font-size:2em;
  }
}

@media (max-width:800px){
  .navbar-troll-face {
    /* outline:2px solid red; */
    width:80px;
  }
  .navbar-title {
    font-size:1.8em;
  }
  .navbar-sub-title {
    font-size:1em;
  }
  .main-text {
    font-size:1.8em;
  }
}

@media (max-width:600px){
  .navbar-troll-face {
    /* outline:2px solid green; */
    width:60px;
  }
  .navbar-title {
    font-size:1.3em;
  }
  .navbar-sub-title {
    font-size:0.5em;
  }
  .main-text {
    font-size:1.3em;
  }
}


@media (max-width:400px){
  .navbar-troll-face {
    /* outline:2px solid orange; */
    width:40px;
  }
  .navbar-title {
    font-size:0.8em;
  }
  .navbar-sub-title {
    font-size:0.3em;
  }
  .main-text{
    font-size:0.8em;
  }
}





/* 
.navbar-container
.navbar-title-container
.navbar-troll-face
.navbar-title
.navbar-sub-title 
*/
/*
.mainContent-container
.main-form-container
.main-input-above
.main-input-below
.main-button
.main-meme
 */